@import "bootstrap/scss/bootstrap";

/* Fonte padrão semelhante à do Laravel */
// @import url('https://fonts.bunny.net/css?family=Nunito');

// :root {
//     --font-sans: 'Nunito', sans-serif;
// }

// body {
//     font-family: var(--font-sans);
//     background-color: #f8fafc;
//     color: #212529;
//     margin: 0;
//     padding: 0;
// }
